<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<h1>setData 테스트</h1>

<!-- <form action="{% url 'setData' %}" method="get">
    <input type="text" name="userid" id="userid" />
    <input type="hidden" name="req_code" value="find" />
<input type="submit" value="테스트" />
</form> -->


<input type="text" name="userid" id="userid" />
<input type="hidden" name="req_code" value="find" />
<input type="button" id="go" value="눌러" />

<script>  
    $('#go').click(function() {
        $.ajax({
        type : 'GET',
        dataType : 'text',
        url : "{% url 'members:setData' %}",
        data : {
            userid : $('#userid').val(),
            req_code : "find",
        },
        cache : false,
        success : function(data) {
            console.log("id >" + userid),
            alert(data);
        },
        error : function(e) {
            alert('error');
        }
        });
    });
</script>