<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<h1>find 테스트</h1>
아이디 <input type="text" name="userid" id="find_userid" /> <br />
<input type="button" id="find" value="눌러" /> <br />
<hr />

<h1>login 테스트</h1>
아이디 <input type="text" name="userid" id="login_userid" /> <br />
비번<input type="text" name="userpw" id="login_userpw" /> <br />
<input type="button" id="login" value="눌러" /> <br />
<hr />

<h1>register 테스트</h1>
아이디 <input type="text" name="userid" id="register_userid" /> <br />
비번 <input type="text" name="userpw" id="register_userpw" /> <br />
전화번호 <input type="text" name="phone" id="register_phone" /> <br />
생년월일 <input type="text" name="date" id="register_date" /> <br />
주소 <input type="text" name="addr" id="register_addr" /> <br />
성별 <input type="text" name="gend" id="register_gend" /> <br />
이메일 <input type="text" name="email" id="register_email" /> <br />
<input type="button" id="register" value="눌러" /> <br />

<script>  
    $('#find').click(function() {
        $.ajax({
        type : 'GET',
        dataType : 'text',
        url : "{% url 'members:setData' %}",
        data : {
            userid : $('#find_userid').val(),
            req_code : "find"
        },
        cache : false,
        success : function(data) {
            alert(data);
        },
        error : function(e) {
            alert('error');
        }
        });
    });

    $('#login').click(function() {
        $.ajax({
        type : 'GET',
        dataType : 'text',
        url : "{% url 'members:setData' %}",
        data : {
            userid : $('#login_userid').val(),
            userpw : $('#login_userpw').val(),
            req_code : "login"
        },
        cache : false,
        success : function(data) {
            alert(data);
        },
        error : function(e) {
            alert('error');
        }
        });
    });

    $('#register').click(function() {
        $.ajax({
        type : 'GET',
        dataType : 'text',
        url : "{% url 'members:setData' %}",
        data : {
            userid : $('#register_userid').val(),
            userpw : $('#register_userpw').val(),
            phone : $('#register_phone').val(),
            date : $('#register_date').val(),
            addr : $('#register_addr').val(),
            gend : $('#register_gend').val(),
            email : $('#register_email').val(),
            req_code : "user_create"
        },
        cache : false,
        success : function(data) {
            alert(data);
        },
        error : function(e) {
            alert('error');
        }
        });
    });
</script>